
body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    background: #25274D;
    max-width: 60em;
    margin: auto;
    padding: 2rem 1.5rem;
}

#header {
    color: #ffff00;
    background: #406C39;
}

.content {
    max-width: 60em;
    margin: auto;
    padding: 2rem 1.5rem;
    color: #ffffff;
}

#preamble {
    text-align: right;
    font-size: 70%;
    white-space: nowrap;
}

#updated {
    color: #ffff00;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: blue;
}
